* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #EEEEEE;
}

body {
  background-color: #393e46;

}

header h1 {
    font-size: 60px;
    text-align: center;
    color: gray;
    margin: 20px;

}



.portre img { display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    
}
.portre p {
    text-align: center;
    

    font-size: 22px;
    line-height: 30px;
    padding: 10px;
}

.life-story {
    
  margin:40px 60px 40px 60px;
    
    text-align: center;
    line-height: 50px;
    background-color: #222831;
    box-shadow: 5px 10px 5px #c4c0ae;
    
}

.life-story ul {
    display: inline-block;
}
.life-story ul li {
    list-style: georgian;
    color: gray;
    padding-left: 15px;
}
.life-story ul li p {
    font-size: 18px;

}


footer p  {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}